<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <p>We sell all sorts of drinks</p>
        <form action="/search_result" method="GET">
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="OK" >
      <input id="search_box" type="text" name="category">
      <input type="submit" value="OK">
    </form>

  </body>
</html>
